// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    margin: 0;
    padding: 0;
}

html, body, {
    height: 100%;
}

#note-nav li{
    list-style-type: none;
}

.show-group {
    background-color: rgba(0, 0, 22, 0.8);
    float: left;
    margin-left: 25px;
    width: 225px;
    text-align: center;
    overflow: hidden;
    padding: 10px;

    h3 {
        color: white;
    }

    h4 {
        color: #3276b1;
    }

    a {
        color: rgb(255,255,136);
    }
}

.new-group {
    background-color: rgba(0, 0, 22, 0.8);
    margin: 0 auto;
    margin-bottom: 10px;
    width: 225px;
    text-align: center;
    overflow: hidden;
    padding: 10px;

    label {
       color: yellow; 
    }
    a {
        color: rgb(255,255,136);
    }
    .group-submit {
        color: black;
    }
}

.lined-paper {
    width: 80%;
    height: 800px;
    margin: 50px auto;
    padding-top: 22px;
    text-align: center;
    font-family:'Reenie Beanie', sans-serif;
    font-size: 30px;
    overflow: hidden;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;

    a {
        padding: 5px;
        font-size: 24px;
    }
    a.btn btn-default btn-large {
        font-family: verdana;
    }
}

.group-links {
    margin-bottom: 25px;
}

.add_member, .remove_member {
  background: rgb(0,255,0);
  background: rgba(0,255,0,.5);
  border: 2px solid green;
  border-radius: 2px;
  font-weight: bold;
  margin: 5px;
}

.add_member_fail {
  background: rgb(255,0,0);
  background: rgba(255,0,0,.5);
  border: 2px solid red;
  border-radius: 2px;
  font-weight: bold;
  margin: 5px;
}