// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    margin: 0;
    padding: 0;
}

html, body, .show-group {
    height: 100%;
}

.show-group {
    background-color: rgba(0, 0, 22, 0.8);
    float: left;
    width: 225px;
    overflow: hidden;
    padding: 10px;

    h3 {
        color: white;
    }

    h4 {
        color: #3276b1;
    }

    a {
        color: rgb(255,255,136);
    }
}