// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .center{
  width: 410px;
  margin: 0 auto;
  text-align: center;

  a {
    margin: 0 auto;

  }
  .actions {
    padding: 0 auto;
    text-align: center;
  }
 }

 .alert, .notice {
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.5); */
 }

 .postit {
  text-align:center;
  overflow: hidden;
  width: 250px;
  margin: 25px;
  min-height:175px;
  max-height:175px;
  position:relative;
  font-family:'Reenie Beanie', sans-serif;
  font-size:22px;
  border-bottom-right-radius: 60px 5px;
  display:inline-block;
  background: rgb(255,255,136); /* Old browsers */

  h2 {
    font-size: 150%;
    font-weight: bold;
  }
}

.postit-front {
  text-align:center;
  line-height: 25px;
  width: 350px;
  margin: 30px;
  min-height:330px;
  max-height:330px;
  position:relative;
  font-family:'Reenie Beanie', sans-serif;
  font-size:22px;
  border-bottom-right-radius: 100px 25px;
  display:inline-block;
  background: rgb(255,255,136); /* Old browsers */

  h2 {
    margin-top: 10px;
  }
}

 .new-postit {
  text-align:center;
  overflow: hidden;
  width: 300px;
  margin: 25px;
  padding: 35px;
  min-height:200px;
  max-height:200px;
  position:relative;
  font-family:'Reenie Beanie', sans-serif;
  font-size:22px;
  border-bottom-right-radius: 75px 15px;
  display:inline-block;
  background: rgb(255,255,136); /* Old browsers */

  h2 {
    font-size: 150%;
    font-weight: bold;
  }
}

.note-links {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
}

.postit:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}

.postit:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}

.postit:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.postit:hover {
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  position:relative;
  z-index:10;
  margin-left: 25px;
}

#note-nav {
	width: 350px;
	margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 30px;
}

