#devise-sessions_page {
	color: black;
}

body {
	background: url(image_path('corkboard.jpg')) no-repeat center center fixed;
	background-size: cover
} 

.devise-wrapper {
	width: 250px;
	margin: 0 auto;
}