#devise-sessions_page {
	color: black;
}

body {
	background: url(image_path('corkboard.jpg'));
}

.devise-wrapper {
	width: 250px;
	margin: 0 auto;
}

.devise-info {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  background: rgb(255,255,255); /* for stupid browsers */
  background: rgba(255,255,255,.5);
  border-radius: 2px;
}

.alert {
  background: rgb(255,0,0); /* for stupid browsers */
  background: rgba(255,0,0,.5);
  border: 2px solid red;
  border-radius: 2px;
}
