<div class= "btn-group btn-group-justified" id="note-nav">
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-large">
      <span class="glyphicon glyphicon-pushpin"></span>
      <%= link_to 'New Note', new_note_path %>
    </button>
  </div>
  <div class="btn-group">
    <button type= "button" class="btn btn-primary btn large">
      <span class="glyphicon glyphicon-transfer"></span>
      <%= link_to 'Groups', groups_path %>
    </button>
  </div>
  <div class="btn-group">
    <button type= "button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class"sr-only"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @user_groups.each do |group| %>
      <li><%= link_to group.name, group_path(group) %></li>
      <% end %>
      <li class ="divider"></li>
      <li><%= link_to 'My Notes', root_path %></li>
    </ul>
  </div>
</div> 
